node_modules/
.next/
dist/
.env
.env.local
.env.production
*.tsbuildinfo
.turbo/

# next-pwa generated artifacts
apps/web/public/sw.js
apps/web/public/sw.js.map
apps/web/public/workbox-*.js
apps/web/public/workbox-*.js.map
