# Database
DATABASE_URL="postgresql://user:password@localhost:5432/nkc_crm"

# JWT
JWT_SECRET="change-me-to-a-random-64-char-string"

# Server
PORT=3001
NODE_ENV=development
FRONTEND_URL=http://localhost:3000

# FlexPay (Mobile Money RDC) — Étape 07
FLEXPAY_TOKEN=
FLEXPAY_MERCHANT_CODE=
FLEXPAY_SANDBOX_URL=https://backend.flexpay.cd/api/rest/v1/paymentService
